* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./images/pattern-background-mobile-light.svg");
  background-repeat: no-repeat;
}
/*mobile start menu styles*/
.startMenu-header {
  display: flex;
  width: 375px;
  padding: 24px;
  justify-content: flex-end;
}
.header-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.svg-turn-div .svg-turn {
  width: 12px;
  height: 12px;
}
.header-icons .icon-sunlight {
  width: 16px;
  height: 16px;
}
.header-icons .svg-moon {
  width: 16px;
  height: 16px;
}
.svg-turn-div {
  padding: 4px;
  border-radius: 999px;
  background: var(--Purple, #a729f5);
  width: 32px;
  height: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.main-container {
  padding: 16px 24px 0;
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 100vh;
}
.wellcome {
  margin: 58px 0 40px;
}
.wellcome-h1 {
  color: var(--Dark-Navy, #313e51);
  font-size: 40px;
  font-weight: 300;
  line-height: 100%;
  padding: 0px 0 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.frontend-quiz {
  color: var(--Dark-Navy, #313e51);
  font-size: 40px;
  font-weight: 500;
  line-height: 100%;
}
.pick {
  color: var(--Grey-Navy, #626c7f);
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 150%; /* 21px */
}
.section-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.common-btn {
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  gap: 16px;
  align-self: stretch;
  border-radius: 12px;
  cursor: pointer;
  background: var(--Pure-White, #fff);
  box-shadow: 0px 16px 40px 0px rgba(143, 160, 193, 0.14);
}
.common-title {
  font-weight: 500;
}
#html-btn svg {
  border-radius: 5px;
  width: 40px;
  height: 40px;
  background-color: #fff1e9;
}
#css-btn svg {
  border-radius: 5px;
  width: 40px;
  height: 40px;
  background-color: #e0fdef;
}
#js-btn svg {
  border-radius: 5px;
  width: 40px;
  height: 40px;
  background-color: #ebf0ff;
}
#accessibility svg {
  border-radius: 5px;
  width: 40px;
  height: 40px;
  background-color: #f6e7ff;
}
.category-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
/*MEDIA QUERIES*/
@media (min-width: 768px) {
  .svg-turn-div {
    width: 48px;
    height: 28px;
  }
  .svg-turn-div .svg-turn {
    width: 20px;
    height: 20px;
  }
  .header-icons .icon-sunlight {
    width: 24px;
    height: 24px;
  }
  .header-icons .svg-moon {
    width: 24px;
    height: 24px;
  }
  .header-icons {
    gap: 16px;
  }
  .main-container {
    width: 768px;
    padding: 56px 64px 0;
  }
  .startMenu-header {
    width: 768px;
    padding: 56px 64px 0;
  }
  .section-buttons {
    gap: 24px;
  }
  .category-btn {
    gap: 32px;
  }
  .wellcome-h1 {
    font-size: 64px;
  }
  .frontend-quiz {
    font-size: 64px;
  }
  .pick {
    font-size: 20px;
  }
  .wellcome {
    margin: 63px 0 64px;
  }
  #html-btn svg {
    width: 56px;
    height: 56px;
  }
  #css-btn svg {
    width: 56px;
    height: 56px;
  }
  #js-btn svg {
    width: 56px;
    height: 56px;
  }
  #accessibility svg {
    width: 56px;
    height: 56px;
  }
  .category-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  .common-title {
    font-size: 28px;
  }
  body {
    background-image: url("./images/pattern-background-tablet-light.svg");
  }
}
@media (min-width: 1440px) {
  body {
    background-image: url("./images/pattern-background-desktop-light.svg");
    background-size: cover;
  }
  .main-container {
    flex-direction: row;
    width: 1160px;
    gap: 95px;
    margin-top: 95px;
  }
  .startMenu-header {
    width: 1160px;
    padding: 97px 64px 0;
  }
  .header-icons {
    gap: 16px;
  }
  .section-buttons {
    width: 100%;
  }
  .wellcome {
    margin: 0;
  }
  .wellcome-h1 {
    width: 452px;
  }
  .pick {
    margin-top: 48px;
  }
  .common-btn {
    height: 96px;
  }
}
