.startQuestion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-icons {
  gap: 8px;
}
.count-questions {
  color: #626c7f;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 150%;
}
.question-box {
  margin-top: 48px;
}

.question {
  color: #313e51;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  margin: 12px 0 24px;
}
.question-rectangle {
  display: flex;
  height: 16px;
  padding: 4px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 999px;
  background: #fff;
  margin-bottom: 40px;
}
.category-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.category-header svg {
  border-radius: 5px;
  width: 40px;
  height: 40px;
  background-color: #f6e7ff;
}
.question-section {
  display: flex;
  align-items: center;
  gap: 16px;
}
.variant-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  background-color: #f4f6fa;
  border-radius: 5px;
  color: #626c7f;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
}
.submit {
  display: flex;
  height: 56px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 12px;
  background: var(--Purple, #a729f5);
  box-shadow: 0px 16px 40px 0px rgba(143, 160, 193, 0.14);
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  margin-top: 12px;
  cursor: pointer;
}
.answers {
  color: #313e51;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
}
.commonCorrect-svg {
  display: none;
}
.commonError-svg {
  display: none;
}
.submit-error {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 19px;
  color: var(--Red, #ee5454);
  font-size: 18px;
  font-weight: 400;
  line-height: 100%; /* 18px */
}
.submit-error {
  display: none;
}
.variant-btn.selected {
  background-color: var(--Purple, #a729f5);
}
