.completed {
  margin: 48px 0 40px;
}
.quiz-completed {
  color: var(--Dark-Navy, #313e51);
  font-family: Rubik;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 40px */
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.u-scored {
  color: var(--Dark-Navy, #313e51);
  font-family: Rubik;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 40px */
}
.score-div {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 40px 0px rgba(143, 160, 193, 0.14);
}
.result-score {
  color: #313e51;
  font-size: 88px;
  font-weight: 500;
  line-height: 100%;
}
.outOf {
  color: #626c7f;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
}
.playAgain {
  display: flex;
  height: 56px;
  padding: 12px;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  background: var(--Purple, #a729f5);
  box-shadow: 0px 16px 40px 0px rgba(143, 160, 193, 0.14);
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  margin-top: 12px;
  cursor: pointer;
}
/*display category items*/
#html-btn {
  display: block;
}
#css-btn {
  display: none;
}
#js-btn {
  display: none;
}
#accessibility {
  display: none;
}
/*display category items by class*/
.html-btn {
  display: none;
}
.css-btn {
  display: none;
}
.js-btn {
  display: none;
}
.accessibility {
  display: none;
}
.html-btn svg {
  border-radius: 5px;
  width: 40px;
  height: 40px;
  background-color: #fff1e9;
}
.css-btn svg {
  border-radius: 5px;
  width: 40px;
  height: 40px;
  background-color: #e0fdef;
}
.js-btn svg {
  border-radius: 5px;
  width: 40px;
  height: 40px;
  background-color: #ebf0ff;
}
.accessibility svg {
  border-radius: 5px;
  width: 40px;
  height: 40px;
  background-color: #f6e7ff;
}
@media (min-width: 768px) {
  .html-btn svg {
    width: 56px;
    height: 56px;
  }
  .css-btn svg {
    width: 56px;
    height: 56px;
  }
  .js-btn svg {
    width: 56px;
    height: 56px;
  }
  .accessibility svg {
    width: 56px;
    height: 56px;
  }
  .score-div {
    padding: 48px;
    gap: 24px;
  }
  .result-score {
    font-size: 144px;
  }
  .outOf {
    font-size: 24px;
  }
  .playAgain {
    height: 92px;
    font-size: 28px;
    margin-top: 32px;
  }
  .quiz-completed {
    font-size: 64px;
  }
  .u-scored {
    font-size: 64px;
  }
  .completed {
    margin: 64px 0;
  }
}
@media (min-width: 1440px) {
  .completed {
    margin: 0;
  }
  .quiz-completed {
    width: 452px;
  }
  .upload-score-div {
    width: 100%;
  }
}
